/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2022, 9:07:15 PM
    Author     : admin
*/
body{
    position: relative;
    min-height: 100vh;
}
.body{
     padding-bottom: 58px;    /* Footer height */
}


a{
     text-decoration: none
}
.header{
    background-color: #90caf9;
    border-bottom: 1px solid #0a84ff;
    padding:5px 50px 5px 50px;  
    top:0;
}
.header a{
    color:black;
    font-size:larger; 
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.logo{
    width:60px;
    height:auto;
    border: solid black 1px;
    border-radius: 50%;
}
.footer{
    background-color: #bbdefb;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    bottom:0;
    position: absolute;
    width:100%;
    padding: 17px 0px 17px 0px;
}
.footer p{
    margin:0;
}
.carousel-inner {
    position: relative;
    width: 100%;
    max-height:92.672vh;
    overflow: hidden;
}

.carousel-item{
    max-height:92.672vh;
    min-width: 100%;
}
.d-block{
    height:92.67vh;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.carousel .carousel-indicators button{
    background-color: graytext;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}